body {
    background-color: lightgray;
    font-family: Arial;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2c6fad;
    color: white;
    text-align: center;
    padding: 15px;
}

.profile {
    width: 600px;
    margin: 50px auto;
    background-color: #ddeeff;
    border: 2px solid #2c6fad;
    padding: 90px;
    text-align: center;
    border-radius: 10px;
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #2c6fad;
}

.profile h2 {
    font-size: 19px;
    margin-top: 10px;
    color: #1a1a1a;
}

.profile p {
    font-size: 18px;
    color: #333;
    margin: 5px 0;
}

footer {
    background-color: #2c6fad;
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 10px;
}